.ObjectField {
  display: flex;
  flex-direction: column;
  background-color: var(--puck-field-color-surface, var(--puck-color-surface));
  border: var(--puck-field-border-width, var(--puck-border-width-regular)) solid
    var(--puck-field-color-border, var(--puck-color-border));
  border-radius: var(--puck-field-radius, var(--puck-radius-m));
}

.ObjectField-fieldset {
  border: none;
  margin: 0;
  min-width: 0; /* Needed to ensure External input doesn't overflow, see https://stackoverflow.com/a/53784508 */
  padding: var(--puck-field-space-surface-y, var(--puck-space-4))
    var(
      --puck-field-space-surface-x,
      calc(
        var(--puck-space-4) -
          var(--puck-field-border-width, var(--puck-border-width-regular))
      )
    );
}
