.RichTextMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.RichTextMenu--form {
  border-top-left-radius: var(--puck-field-radius, var(--puck-radius-m));
  border-top-right-radius: var(--puck-field-radius, var(--puck-radius-m));
  padding: var(--puck-field-richtext-menu-space-y, 6px)
    var(--puck-field-richtext-menu-space-x, 6px);
  background-color: var(
    --puck-field-richtext-menu-color-bg,
    var(--puck-color-surface-subtle)
  );
  position: relative;
  scrollbar-width: none;
  overflow-x: auto;
}

.RichTextMenu-group {
  display: flex;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-inline: 6px;
  gap: 2px;
  position: relative;
}

.RichTextMenu-group:first-of-type {
  padding-left: 0;
}

.RichTextMenu-group:last-of-type {
  padding-right: 0;
}

.RichTextMenu--inline .RichTextMenu-group {
  color: var(--puck-color-text-inverse);
  gap: 0px;
  flex-wrap: nowrap;
}

.RichTextMenu-group + .RichTextMenu-group {
  border-left: var(--puck-border-width-regular) solid
    var(
      --puck-field-richtext-menu-color-separator,
      var(--puck-color-border-muted)
    );
}

.RichTextMenu--inline .RichTextMenu-group + .RichTextMenu-group {
  border-left: var(--puck-border-width-hairline) solid
    var(--puck-color-border-inverse);
}
