.DraggableComponent {
  position: absolute;
  pointer-events: none;
}

.DraggableComponent-overlayWrapper {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 1;
}

.DraggableComponent-overlay {
  cursor: pointer;
  height: 100%;
  outline: var(
      --puck-slot-component-border-width,
      var(--puck-border-width-focus)
    )
    var(
      --puck-slot-component-color-overlay-border,
      var(--puck-color-selection-border)
    )
    solid;
  outline-offset: calc(
    var(--puck-slot-component-border-width, var(--puck-border-width-focus)) * -1
  );
  width: 100%;
}

.DraggableComponent:focus-visible > .DraggableComponent-overlayWrapper {
  outline: var(--puck-border-width-regular) solid var(--puck-color-focus-ring);
}

.DraggableComponent-loadingOverlay {
  background: var(--puck-color-surface);
  color: var(--puck-color-text);
  border-radius: var(--puck-radius-m);
  display: flex;
  padding: var(--puck-space-2);
  top: var(--puck-space-2);
  right: var(--puck-space-2);
  position: absolute;
  z-index: 1;
  pointer-events: all;
  box-sizing: border-box;
  opacity: 0.8;
  z-index: 1;
}

.DraggableComponent--hover
  > .DraggableComponent-overlayWrapper
  > .DraggableComponent-overlay {
  background: var(
    --puck-slot-component-color-overlay,
    var(--puck-color-selection-bg)
  );
  outline: var(
      --puck-slot-component-border-width,
      var(--puck-border-width-focus)
    )
    var(
      --puck-slot-component-color-overlay-border,
      var(--puck-color-selection-border)
    )
    solid;
}

.DraggableComponent--isSelected
  > .DraggableComponent-overlayWrapper
  > .DraggableComponent-overlay {
  outline-color: var(
    --puck-slot-component-color-border-selected,
    var(--puck-color-selection-border)
  );
}

/* Won't work in FF */
.DraggableComponent:has(
    .DraggableComponent--hover > .DraggableComponent-overlayWrapper
  )
  > .DraggableComponent-overlayWrapper {
  display: none;
}

.DraggableComponent-actionsOverlay {
  position: sticky;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.DraggableComponent--isSelected .DraggableComponent-actionsOverlay {
  opacity: 1;
  pointer-events: auto;
}

.DraggableComponent-actions {
  position: absolute;
  width: auto;
  cursor: grab;
  display: flex;
  box-sizing: border-box;
  transform-origin: right top;
  min-height: 36px;
}

.DraggableComponent-actionsAction {
  height: var(--puck-actionbar-action-size, var(--puck-icon-size-s));
  width: var(--puck-actionbar-action-size, var(--puck-icon-size-s));
}
