.Header {
  background-color: var(--puck-color-surface);
  position: sticky;
  top: 0;
  z-index: 2;
}

.Header-inner {
  align-items: center;
  display: flex;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1280px;
  padding: var(--puck-space-5) var(--puck-space-4);
}

@media (min-width: 768px) {
  .Header-inner {
    padding: var(--puck-space-5);
  }
}

.Header-logo {
  font-size: 24px;
  font-weight: var(--puck-font-weight-heavy);
  letter-spacing: 1.4;
  opacity: 0.8;
}

.Header-items {
  display: flex;
  gap: var(--puck-space-5);
  margin-inline-start: auto;
}

@media (min-width: 1024px) {
  .Header-items {
    gap: 32px;
  }
}

.HeaderItem {
  text-decoration: none;
  color: var(--puck-color-grey-06);
}

.HeaderItem--isActive {
  color: var(--puck-color-text-muted);
  font-weight: 600;
}
